<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <style type="text/css">
      .middle{
          margin: 0;
          position: absolute;
          top: 60%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%)
      }
       label{
           color: #777;
           font-family: Lato,sans-serif;;
        }
      
    </style>
  </head>
<body>
  <div class="container-fluid"><br/><br/>
    <p id="b64"></p>
    <div class="row" style="border-bottom-style: outset;">
      <div class="col-lg-6 col-md-6 col-sm-6" style="color: black; border-right-style: dotted;">
            <div class="form-group row">
                <label for="servingurl" class="col-sm-4 col-form-label">Model Serving URL</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="servingurl" required="required" placeholder="https://d3-inf-xxxx:6006/...."/>
                </div>
            </div>
                
            <div class="form-group row">
                    <label for="program" class="col-sm-4 col-form-label">Program</label>
                    <div class="col-sm-7">
                        <select class="form-control" id="program" required>
                            <option></option>
                            <option value="mnist">mnist</option>
                            <option value="catsdogs">catsdogs</option>
                            <option value="objdetect">objdetect</option>
                            <option value="bolts">bolts</option>
                            <option value="cifar">cifar</option>
                         </select>
                    </div>
            </div>
            <div class="form-group row">
                    <label for="imginput" class="col-sm-4 col-form-label">Testing Image</label>
                    <div class="col-sm-8">
                        <input type="file" class="form-control-file" id="imginput" required="required" multiple="false" accept="image\*" onchange="upload()" />
                    </div>
            </div>
            <div class="form-group row" id="fileupload">
                    <label for="imginput" class="col-sm-4 col-form-label">File Upload</label>
                    <div class="col-sm-8">
                        <input type="file" class="form-control-file" id="fileinput" required="required" multiple="false" />
                    </div>
            </div>
            <div class="form-group row" id="numofclasses">
                <label for="servingurl" class="col-sm-4 col-form-label">Num Of Classes</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="numclasses" required="required" placeholder=" example: 32"/>
                </div>
            </div><br/>
             <div class="form-group row">
                    <div class="col-sm-10">
                        <button class="btn btn-primary middle" onclick="Predict()">Predict</button><br/>
                    </div>
             </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 text-center" style="padding-bottom: 20px; padding-left: 30px;">
        <canvas id="can" class="img-responsive"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-3">
    </div>
    <div class="col-lg-7 col-md-10 col-sm-10">
      <span id="demo"  style="font-size:60px; margin-left: 40%; "></i></span>
        <div id=canvasHold style="width:600px; height: 300px; margin-left: 10%"><canvas id="pie-chart"></canvas></div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
  <script src="https://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <script>
     /*$( document ).ready(code_toggle);
     function code_toggle() {
          $("div.input").hide();
     }*/
    window.onload = function() {
    let params = new URLSearchParams(location.search);
	    document.getElementById("servingurl").value = params.get('servingurl');};
    var load=document.getElementById("demo");
    load.style.display="none";
    var ajaxcall=false
    var canvasHold=document.getElementById("canvasHold");
    var fileupload = document.getElementById("fileupload")
    var noofclass = document.getElementById("numofclasses")
    fileupload.style.display="none";
    noofclass.style.display="none";
    document.getElementById("b64").style.display = "none";
    document.getElementById("imginput").addEventListener("change", readFile);
    function readFile() {
        if (this.files && this.files[0]) {
            var FR= new FileReader();
            FR.addEventListener("load", function(e) {
              document.getElementById("b64").innerHTML = e.target.result;
              upload()
          }); 
          FR.readAsDataURL( this.files[0] );
        }
    }
    function upload() {
      var imgcanvas=document.getElementById("can");
      var fileinput=document.getElementById("imginput");
      var image=new SimpleImage(fileinput);
      image.drawTo(imgcanvas);
      imgcanvas.style.width = "400px"; 
      imgcanvas.style.height = "200px";
      document.getElementById("pie-chart").style.display = "none";
    }
    $('#program').change(function(){ 
      var prg = $(this).val();
      if (prg == "objdetect"){
        fileupload.style.display="block"
        noofclass.style.display="block"
      }
      else{
        fileupload.style.display="none";
        noofclass.style.display="none";
      }

    });
   var signkey, signlabel,commad =""    
   function Predict() {
       var ajaxcall = false
       if(document.getElementById("b64").innerHTML == ""){
           alert("select Testing Image")
           return
       }
       if(document.getElementById("servingurl").value == ""){
           alert("Provide Model serving url")
           return
       }
       var test = $("#program :selected").text()
       if( test == ""){
           alert("Select Program from Dropdown")
           return
       }
       if(ajaxcall == false){
          ajaxcall = true
          canvasHold.innerHTML="";
          canvasHold.innerHTML='<canvas id="pie-chart"></canvas>';
          load.style.display="block";
          load.innerHTML = '<i class="fa fa-spinner fa-spin "></i>';
          var data = new FormData();
          var base64=document.getElementById("b64").innerHTML
          base64=base64.split(",");
          var e = document.getElementById("program");
          var program = e.options[e.selectedIndex].text;
          if (program == "bolts") {
            signlabel="imagenet";
            signkey="image"
            command=""
          }
          else if (program == "catsdogs"){
            signkey="inputs"
            signlabel="file2b64"
            command=""
          }
          else if (program =="mnist"){
            signlabel="img2np"
            signkey="image"
             command=""
          }
          else if (program =="objdetect"){
            signkey="inputs"
            signlabel="objectDetection"
            command="python3"
          }
          else if (program =="cifar"){
            signlabel="cifar10"
            signkey="image"
            command=""
          }

          var SIGNATURE={ "signatures": 
              {
                "inputs": [[{
                    "key" : signkey,
                    "formatter": {
                      "label": signlabel,
                      "custom": "false",
                      "script" : "",
                      "command":command,
                    },
                    "data": base64[1]
                  }]],
                  "name": "serving_default",
              }
            }
            if(program == "objdetect"){
              var file = $('#fileinput')[0].files[0];
              data.append('text_file', file);
              data.append('numofclasses',document.getElementById('numclasses').value)
            }
          data.append("SIGNATURE",JSON.stringify(SIGNATURE))
          data.append("program", program)
          data.append("serving_url",document.getElementById("servingurl").value)
          load.style.display="block";
          var req_url= window.location.origin+"/predict"
          $.ajax({
            type : 'POST',
            url: req_url,
            data:data,
            dataType:"json",
            async: false,
            crossDomain: true,
            crossOrigin: false,
            processData: false,
            contentType: false,
            success:function(res){
                load.style.display="none"
                if (res.error != undefined) {
                  var obj = JSON.parse(res.error)
                  alert(obj.error)
                  ajaxcall=false
                  return
                }
                if (program == "bolts"){
                  Boltsoutputdisplay(res.predictions[0])
                }
                else if (program == "catsdogs"){
                    console.log(res)
                  Catsoutputdisplay(res.results)
                }
                else if (program == "mnist"){
                  console.log(res)
                  Digitsoutputdisplay(res.predictions[0].probabilities)
                }
                else if (program == "cifar"){
                  Cifaroutputdisplay(res.predictions[0])
                }
                else if (program == "objdetect"){
                  Objdetectoutputdisplay(res)
                }
                document.getElementById('pie-chart').style.display = "block";
                ajaxcall=false
              },
              error: function(request, status, error){
		      console.log(error)
		      console.log(request.responseText);
		      ajaxcall=false
              }
            });
          }
      }

  function Digitsoutputdisplay(prop){
            len=prop.length
            var label=['Zero','One','Two','Three','Four','Five','Six','Seven','Eight','Nine'];
            var Dataval=[];
            var result='';
            var colors=["#8e5ea2", "#3e95cd", "#EF803D", "#89C35E", "#5ADDB3", "#5AC9DD", "#8787E5", "#D385DB", "#C4637C","#DE6F58"]
            var x = Number.MIN_SAFE_INTEGER
            var i=0;
            for(i=0;i<len;i++){
              Dataval.push(prop[i]);
              if(x < prop[i]){
                x= prop[i];
                 result=i;
              }
            }
      Chart.pluginService.register({
        beforeDraw: function(chart) {
          var width = chart.chart.width,
              height = chart.chart.height,
              ctx = chart.chart.ctx;

          ctx.restore();
          //var fontSize = (height /100).toFixed(2);
          ctx.font = "5rem em sans-serif";
          ctx.textBaseline = "middle";

          var text = result,
              textX = Math.round((width - ctx.measureText(text).width) / 2),
              textY = height / 2;
          ctx.clearRect(0, 0, 800,450);      
          ctx.fillText(text, textX, textY+10);
          ctx.save();
        }
      });
            new Chart(document.getElementById("pie-chart"), {
           type: 'doughnut',
          data: {
            labels: label,
            datasets: [{
              label: label,
              backgroundColor: colors,
              data: Dataval
            }]
          },
          options: {
            title: {
              display: true,
              text: 'Results' 
            },
            legend:{
              display: false
            }
          }
      },{
        segmentShowStroke: true,
        segmentStrokeColor: "#fff",
        segmentStrokeWidth: 2,
        percentageInnerCutout: 50,
        animationSteps: 1000,
        animationEasing: "linear",
        animateRotate: true,
        animateScale: false,
      });
  }
  function Catsoutputdisplay(prop){
            len=prop[0].length
            var label=[];
            var Dataval=[];
            var label=[];
            var result='';
            var colors=["#8e5ea2", "#3e95cd", "#EF803D", "#89C35E", "#5ADDB3", "#5AC9DD", "#8787E5", "#D385DB", "#C4637C","#DE6F58"]
            var x = Number.MIN_SAFE_INTEGER
            var i=0;
            for(i=0;i<len;i++){
              label.push(prop[0][i]);
              Dataval.push(prop[1][i]);
              if(x < prop[1][i]){
                x= prop[1][i];
                 result=prop[0][i];
              }
            }
      Chart.pluginService.register({
        beforeDraw: function(chart) {
          var width = chart.chart.width,
              height = chart.chart.height,
              ctx = chart.chart.ctx;

          ctx.restore();
          //var fontSize = (height /100).toFixed(2);
          ctx.font = "5rem em sans-serif";
          ctx.textBaseline = "middle";

        }
      });
            new Chart(document.getElementById("pie-chart"), {
           type: 'pie',
          data: {
            labels: label,
            datasets: [{
              label: label,
              backgroundColor: colors,
              data: Dataval
            }]
          },
          options: {
            title: {
              display: true,
              text: 'Results' 
            },
            legend:{
              display: false
            }
          }
      },{
        segmentShowStroke: true,
        segmentStrokeColor: "#fff",
        segmentStrokeWidth: 2,
        percentageInnerCutout: 50,
        animationSteps: 1000,
        animationEasing: "linear",
        animateRotate: true,
        animateScale: false,
      });
  }

  function Boltsoutputdisplay(prop){
    
      var label = ["3pax","black_516_no_label","bsd","bxm_the","cbs","hfe","lbm","m98","scr_hook","sfc"];
      var result1 = ["3pax","b516","bsd","bxm","cbs","hfe","lbm","m98","scr","sfc"]
      var Dataval = [];
      var x = Number.MIN_SAFE_INTEGER
      var colors=["#5ADDB3","#EF803D","#C4637C","#5ADDB3","#89C35E","#8e5ea2", "#3e95cd", "#733E33", "#89C35E", "#5AC9DD", "#8787E5", "#D385DB", "#C4637C"]
      for(i=0;i<prop.length;i++){
        Dataval.push(prop[i]);
        if(x < prop[i]){
          x= prop[i];
          result=i;
        }
      }


      Chart.pluginService.register({
        beforeDraw: function(chart) {
          var width = chart.chart.width,
              height = chart.chart.height+55,
              ctx = chart.chart.ctx;

          ctx.restore();
          //var fontSize = (height /100).toFixed(2);
          ctx.font = "5rem em sans-serif";
          ctx.textBaseline = "middle";

          var text = result1[result],
              textX = Math.round((width - ctx.measureText(text).width) / 2),
              textY = height / 2;
          ctx.clearRect(0, 0, 800,450);      
          ctx.fillText(text, textX, textY+10);
          ctx.save();
        }
      });
            new Chart(document.getElementById("pie-chart"), {
           type: 'doughnut',
          data: {
            labels: label,
            datasets: [{
              label: label,
              backgroundColor: colors,
              data: Dataval
            }]
          },
          options: {
            title: {
              display: true,
              text: 'Results'
            },
            legend:{
              display: true
            }
          }
      },{
        segmentShowStroke: true,
        segmentStrokeColor: "#fff",
        segmentStrokeWidth: 2,
        percentageInnerCutout: 50,
        animationSteps: 1000,
        animationEasing: "linear",
        animateRotate: true,
        animateScale: false,
      });

  }

  function Cifaroutputdisplay(result){
    var label = ["Airplane", "Automobile", "Bird", "Cat", "Deer", "Dog", "Frog", "Horse", "Ship", "Truck"];
    var Dataval = [];
    var colors = ["#AB6A5C", "#D7A566", "#52521F", "#EF803D", "#C4637C", "#8e5ea2", "#3e95cd", "#89C35E", "#8787E5", "#D385DB"]
    var len = result.length
    for (i = 0; i < len; i++) {
      Dataval.push(result[i])
    }
    new Chart(document.getElementById("pie-chart"), {
        type: 'pie',
        data: {
          labels: label,
          datasets: [{
            label: label,
            backgroundColor: colors,
            data: Dataval
          }]
        },
        options: {
          showAllTooltips: true,
          title: {
            display: true,
            text: 'Result'
          }
        }
      }, {
        segmentShowStroke: true,
        segmentStrokeColor: "#fff",
        segmentStrokeWidth: 2,
        percentageInnerCutout: 50,
        animationSteps: 1000,
        animationEasing: "linear",
        animateRotate: true,
        animateScale: false,
      }
    );
  }

  function Objdetectoutputdisplay(data){
    canvasHold.innerHTML="";
    $('#canvasHold').html('<br/><b>Result:</b><br/><a href="data:image/png;base64,'+ data.result + '" data-toggle="lightbox" data-width="1500"><img src="data:image/png;base64,'+ data.result + '"  width="600" height="400" class="img-responsive img-fluid"/></a><br/><br/> ');   
  }

  </script>

  </body>
</html>

